

h5{
  float: left;
}

.wrpper{
  box-sizing: border-box;
}



p{
  text-align: center;
  font-size: 20px;
  
}

.col.s12.m8{ 

  position: relative;
  left: 17%;
  
}

 .user_menu{
   height: 100px;
   float: right;
 }